.DS_Store
/target/
/.settings/
/.classpath
/.project

# idea
/.idea/
sbscl.iml


# lp solver jars
lib/nmi/scpsolver/1.0/GLPKSolverPack.jar
lib/nmi/scpsolver/1.0/LPSOLVESolverPack.jar
lib/cplex/cplex.jar
libglpkjni_x64.so
liblpsolve55j_x64.so

# log files
jsbml.log

# BiGG models
src/test/resources/bigg/

# sbml-test-suite
src/test/resources/sbml-test-suite/

# log files
*.log
/bin/
